html{
    margin:0;
    padding:0;
}
body{
    display: flex;
    flex-direction: column;
    margin:0;
    padding:0;
}
.header,
.footer{
 background-color: #1F2937;
}
.header,
.footer,
.middle,
.testimonial,
.action{
    padding-left:10%;
    padding-right:10%;
}
.navigation{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}
.navigation img{
    min-width: 100px;
}
.navigation ul{
    display: flex;
    list-style-type: none;
    gap: 16px;
    justify-content: space-between;
    min-width: 100px;
}
.navigation a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}
.top-container,
.middle-content{
    display: flex;
    margin: 16px;
    padding: 16px;
    gap: 32px;
    justify-content: center;
    align-content: center;
    margin-bottom: 10vh;
}
.top-text{
    color:#fff;
    display: flex;
    flex-direction: column;
    flex:1 1 0;
    align-content: center;
    justify-content: center;
    min-width: 100px;

}
.top-text h1{
    font-size:48px;
    font-weight: 900;
    color: #F9FAf8;
}
.top-text p{
    font-size:18px;
    font-weight: 900;
    color: #F9FAf8;
}
.top-text button{
    color: #F9FAf8;
    font-weight: 800;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    border-radius: 5px;
    border-style: none;
    padding: 5px 20px;
}
.top-image{
    display:flex;
    flex:1 1 0;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    min-width: 100px;
}
.top-image img{
    min-width: 100px;
    max-height:280px;
}
button {
    background-color: #3882F6;
}
.middle{
    display: flex;
    margin: 16px;
    gap: 32px;
    justify-content: center;
    align-content: center;
    margin-bottom: 10vh;
    flex-direction: column;

}
.middle-title{
    text-align: center;
}
.middle-title h2{
    font-weight: 900;
    font-size: 36px;
    color: #1F2937;
}
.middle-content {
    display: flex;
    justify-content: center;
    gap: 8;
    align-content: center;
    flex-wrap: wrap;
    margin-bottom: 5vh;
}
.first{
    display: flex;
    flex-direction: column;
    min-width: 100px;
    max-width: 250px;
    text-align: justify;

}
.first img{
    min-width: 100px;
}
.testimonial{
    display: flex;
    background-color: #E5E7EB;
    padding:10vh;
    justify-content: center;
    align-items: center;
}
.testimonial p{
    font-size: 36px;
    font-weight: 100;
    color:#1F2937;
}
.testimonial h3{
    text-align: right;
}